.my-applications {
  flex-grow: 1;
  overflow-x: auto;
}

.table-container table {
  position: relative;
  min-width: unset;
}

.my-applications-progress-bar {
  position: absolute!important;
  top: 0;
  width: 100%;
}
