.my-applications {
  flex-grow: 1;
  overflow-x: auto;
}

.table-container table {
  position: relative;
  min-width: unset;
}

.table-container table th,
.table-container table td {
  font-size: 12px;
}

.my-applications-progress-bar {
  position: absolute!important;
  top: 0;
  width: 100%;
}

.create-application {
  font-size: 12px!important;
}
