.new-application {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 15px 0;
}

.new-application form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}

.new-application-tabs button {
  flex-grow: 1;
  font-size: 12px;
}
